
.carousel-inner, .item, img, a {
    width: 70%;
    margin: auto;
}
.carousel-inner {
    height: auto;
    background-size: 100% 100%;
}

img{
    height: 200px;
    width: 200px;
}

.title {
    display: inline-block;
    height: 200px;
    border-bottom: solid;
}

.cat-left, .cat-right {
   height: 100px;
   width: 100px;

}
.cat-left{
    float: left;
    margin-left:5% ;
}
.cat-right{
    float: right;
    margin-right: 5%;
}
.carousel {
    height: 500px;
}
.carousel-indicators {
    background-color: #4377b1;
}